<% if resource.errors.any? %>
  <div class="alert alert-error mb-4" data-turbo-cache="false">
    <ul class="list-disc list-inside">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>