<%# フラッシュメッセージ表示部分 %>
<% flash.each do |key, message| %>
  <% alert_class = case key %>
    <% when "notice" then "alert alert-info" %>
    <% when "alert" then "alert alert-error" %>
    <% else "alert alert-warning" %>
  <% end %>
  <div class="<%= alert_class %> shadow-lg my-2">
    <div>
      <span><%= message %></span>
    </div>
  </div>
<% end %>